* {
  margin: 0;
  padding: 0;
}

body {
  /*
  background: url("./images/galaxia-espiral-el-sombrero.jpg");
  */
  background-color: black;
  font-family: system-ui;
  color: antiquewhite;
  text-align: center;
}

nav {
  width: 100%;
  position: relative;
  background-color: darkcyan;
}

nav ul {
  text-align: center;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 24px;
}

/*
nav ul li a hover
*/

#title {
  margin: 15px auto;
  border: 5px double antiquewhite;
  border-radius: 5px;
  width: 80%;
}

p {
  text-align: justify;
}

footer {
  background-color: darkcyan;
  padding: 20px 20px 10px;
  text-align: left;
}
footer hr {
  border: none;
  background-color: antiquewhite;
  height: 1px;
  margin: 5px 0;
}
.copyright {
  text-align: center;
}
ul {
  list-style-type: none;
  text-align: left;
}
